@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Nanum+Gothic:wght@400;700&family=Yeon+Sung&display=swap');


html, body{
  width: 100%;
  height: 100vh;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
}

li{
  list-style: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MyButton */

.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  margin-left: 5px;

  font-size: 15px;

  white-space: nowrap;
  font-weight: bold;
  font-family: 'Nanum Gothic', sans-serif;
}

.MyButton_default {
  background-color: #ffbe2a;
  color: whitesmoke;
}

.MyButton_positive {
  background-color: #64c964;
  color: white;
}

.MyButton_negative {
  background-color: #4c8bf5;
  color: white;
}

.MyButton_nothing {
  background-color: #ececec;
  color: black;
}

.MyButton_default:hover{
  background-color: orange;
  color: whitesmoke;
}

.MyButton_negative:hover{
  background-color: #0f64f2;
}

.MyButton_positive:hover {
  background-color: #3ac53a;
  color: white;
}

/* Login */

.member_wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  background: white;
  min-height: 100vh;
  width: 100%;
}

.login_logo {
  width: 300px;
  cursor: pointer;
}

.member_form{
  display: inline-block;

  margin-top: 40px;
  margin-bottom: 40px;

  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 10%;
  border-radius: 25px;
  background-color: white;

  box-shadow: 0 5px 18px -7px rgba(0,0,0,1);
  
}

.member_text{
  width: 300px;
  height: 50px;
  border: none;
  font-size: 15px;
  font-family: 'Nanum Gothic', sans-serif;
  border-bottom: 2px solid orange;
}

.login_text:hover {
  background-color: whitesmoke;
}

.login_btn_wrapper{
  padding-top: 50px;
}

.login_btn_wrapper .MyButton{
  width: 300px;
}

.find_info{
  cursor: pointer;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color:dimgray;
  padding-left: 5px;
  padding-right: 5px;
}

.find_info:hover{
  color: black;
}

/* find Member */
.find_btn_wrapper{
  padding-top: 50px;
}

/* find */

.info_id{
  font-weight: bold;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
}

/* Home section */

.all_wrapper{
  background-color: white;
  z-index: 10;
  min-height: 100vh;
}

.main_wrapper{
  border-radius: 10px;
  width: 70%;
  float: right;
}

.home_wrapper{
  border-top: 0.5px solid white;
  min-height: 94.5vh;
  background-color: white;
  border-radius: 25px;
  margin-right: 10px;
  box-shadow: 0 5px 18px -7px rgba(0,0,0,1);

}

.profile_wrapper{
  border-radius: 25px;
  min-height: 60vh;
  width: 29%;
  border: 0.5px solid white;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  background-color: white;

  position: relative;

  box-shadow: 0 5px 18px -7px rgba(0,0,0,1);

}

.friends_wrapper{
  border-radius: 25px;
  min-height: 32vh;
  margin-left: 5px;
  width: 29%;
  border: 0.5px solid white;
  background-color: white;

  box-shadow: 0 5px 18px -7px rgba(0,0,0,1);
}

/* 상단 메뉴 바*/
.menu_wrapper{
  align-items: center;
  width: 380px;
  margin-left: 240px;
  margin-top: 5px;
}
.sub_wrapper{
  border: 0.3px solid white
}

/* side menu */

.top_menu_wrapper{
  position: absolute;
  margin: auto;
  width: 100%;
  bottom: 10px;
  justify-content: center;
  height: 160px;

  font-weight: bold;
  font-family: 'Nanum Gothic', sans-serif;

  padding-bottom: 25px;
}

.top_menu_ul{
  position: relative;
  margin-right: 40px;
  display: block;
  align-content: center;

  padding-top: 30px;
}

.top_menu{
  
  cursor: pointer;
  height: 30px;
  padding-right: 20px;
}

.top_menu:hover {
  color: orange;
  transition: color 0.3s;
  font-weight: bold;
}

.top_menu_logo{
  width: 20px;
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

/* social */
.social_wrapper{
  width: 100%;
  display: block;
  margin: auto;

}

.social{
  text-align: center;
  font-size: 15px;

  display: block;
  margin: auto;

  max-width: 100%;
  height: auto;
}

.people{
  font-weight: bold;
  color: orange;
  
}

/* profile */

.img_wrapper{
  max-width: 100%;
  height: auto;
  position: relative;
  display: block;
  margin: auto;
}

.profile_img{
  border-radius: 100%;
  display: flex;
  margin: auto;

  max-width: 100%;
  width: 180px;
  height: 180px;
}

/* join */

.message{
  font-size: 12px;
  color: red;
}


.profile{
  border: 1px solid #ececec;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

/* friends recommend */

.friendsRecommend{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  cursor: pointer;
}
.friends_message{
  font-size: 15px;
  font-weight: bold;
}

.recommend {
  text-align: center;
}

/* feed */

.contents_wrapper{
  text-align: center;
  font-size: 15px;
  font-weight: bold;

  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
.my_feed_wrapper{
  display: inline-block;
}

.items{
  width: 230px;
  text-align: center;
  float: left;

}

.user_info{
  font-size: 11px;
  padding-right: 70px;
}

.items_profile{
  width: 32px;
  height: 32px;
  border-radius: 100%;

  cursor: pointer;
}

.items_img{
  width: 167px;
  height: 167px;

  cursor: pointer;
}

.items_desc{
  width: 660px;
  height: 190px;
  text-align: left;

  cursor: pointer;
}

.items_title{
  font-size: 18px;
  font-weight: bold;

  cursor: pointer;
}

.items_content{
  font-size: 12px;

  cursor: pointer;
}

.user_like{
  font-size: 12px;
  cursor: pointer;
}

.icon{
  width: 12px;
  cursor: pointer;
}


/* upload */

.animation_message{
  font-family: 'Gaegu', cursive;
  font-size: 30px;

  animation: cursor .9s infinite steps(2);
}

.home_message{
  font-size: 20px;
  font-weight: bold;

}

@keyframes cursor {
  from { border-right: 2px solid #222; }
  to { border-right: 2px solid #777; }
}

.upload_drops{
  
  text-align: center;
  padding-top: 10px;
}

.drops_default{
  width: 200px;
  height: 200px;
  border: 1px solid #ececec;

  margin-left: 15px;

  cursor: pointer;
}

.drops{
  width: 200px;
  height: 200px;

  margin-left: 15px;

  cursor: pointer;
}

.select_box{
  width: 100px;
  height: 20px;
  margin-right: 20px;
}

.drops_text{
  width: 450px;
  height: 20px;
}
/* best */

.select_wrapper{
  text-align: right;
  padding-bottom: 20px;
  border-bottom: 0.5px solid #ececec;
}

/* drawer */

.drawer_wrapper{
  margin-top: 70px;
  text-align: center;
  height: 500px;

}

.drawer_wrapper .MyButton{
  text-align: right;
}

.userid_message{
  font-family: 'Gaegu', cursive;
  font-weight: bold;
  font-size: 30px;

  color: orange;
}

.drawer_msg{
  font-weight: bold;
  font-size: 18px;
}

.drops_list{
  height: 250px;
  width: 220px;
  float: left;

  margin-left: 18px;
 
}


/* painting upload */

.painting{
  max-width: 800px;
  max-height: 800px;
}

/* my page */

.user_info_wrpper{
  padding-top: 30px; 
  
}

.member_info{
  width: 400px;
  height: 500px;

  width: 60%;
  margin: auto;
  display: block;

  text-align: center;
}

