/*img elements must have an alt prop*/

.home{ 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    position: relative;
    padding-top: 200px;
    }

.hometext {
    font-size: 18px;
    color: darkgray;
}

.homeimg {
    width: 500px;
}
